.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: url(images/image3.png);
    background-size: cover;
    background-position: center;
    font-family: 'Bradley Hand', cursive;
  }
  
  .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
  }

  .topnav a.active {
    color: black;
  }

.abt{
    color: #98cab8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.topnav{
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.topnav::after{
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(99, 99, 29);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

.topnav:hover::after{
  transform: scaleX(1);
}

.overlay-text {
  position: relative;
  display: inline-block;
}

.overlay-text img {
  width: 100%;
  height: auto;
}