.topnav {
    font-family: 'Bradley Hand', cursive;
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
    background-image: url(images/image3.png);
  }
  
.topnav::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 25%;
  overflow: hidden;
  color: darkmagenta;
  transition: 1s ease-in-out;
}

.topnav a::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 25%;
  overflow: hidden;
  color: yellow;
  transition: 0.5s, ease-in-out;
}

  .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 23px
  }

  .topnav a.active {
    color: black;
  }

.abt{
    color: #98cab8;
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 53px;
    font-weight: bold;
    padding: 13px;
    font-family: 'Bradley Hand', cursive;
<<<<<<< Updated upstream
}
=======
}

.topnav{
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.topnav::hover {
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
}

.overlay-text {
  position: relative;
  display: inline-block;
}

.overlay-text img {
  width: 100%;
  height: auto;
}

/*overlay combine w .topnav*/
>>>>>>> Stashed changes
